@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  background-color: black;
  align-items: center;
  gap: 40px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  font-size: 20px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
  gap: 40px;
  background-color: #E5B8F4;
}

input{
    width: 300px;
    height: 40px;
    border: 3px solid #A555EC;
    border-radius: 10px;
}

#checkBtn{
    height: 40px;
    width: 130px;
    border: 3px solid #A555EC;
    border-radius: 10px;
}

#outputBox{
font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .middle-section {
        height: 110vh;
        gap: 35px;
      }
}

@media only screen and (max-width: 425px) {
    .middle-section {
        height: 110vh;
      }

      .navbar{
        justify-content: center;
        gap: 25px;
      }


      .navbar a {
        font-size: 0.7rem;
        margin-left: 0;
      }
}

